@import '../vars/vars';
@import '../vars/btn';
@import '../vars/content';

#team {
	position: relative;

	.container {
		.big__header {
			color: $color-yellow;
		}
		.btn {
			@include btn($color-yellow, $color-yellow, black);
		}
	}
}
// .MarqueeContent {
// 	display: inline-flex;
// 	margin-top: 2rem;
// }

.image {
	width: 340px;
	height: 270px;
	object-fit: cover;
	border-radius: 10px;
	margin-top: 2rem;
}
.slide__page-bottom {
	margin-top: 2rem;
}

.marquee-container {
	overflow-y: visible !important;
	margin-bottom: 20px;
}
.marquee-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	img {
		width: 340px;
		height: 270px;
		object-fit: cover;
		margin: 20px 60px;
		border-radius: 10px;
	}
	&.top {
		// transform: translateY(50px);
		padding-top: 50px;
	}
}
.overlay {
	display: none;
}

@media (max-width: 1050px) {
	.marquee-wrapper {
		img {
			width: 270px;
			height: 170px;

			margin: 20px 50px;
		}
	}
}
@media (max-width: 900px) {
	.marquee-wrapper {
		img {
			width: 270px;
			height: 170px;
			margin: 10px 20px;
		}
	}
}
@media (max-width: 750px) {
	.marquee-wrapper {
		img {
			width: 340px;
			height: 240px;
			margin: 10px 20px;
		}
	}
}
@media (max-width: 540px) {
	.marquee-wrapper {
		img {
			width: 270px;
			height: 170px;
			margin: 10px 20px;
		}
	}
}
@media (max-width: 450px) {
	.marquee-wrapper {
		img {
			width: 200px;
			height: 140px;
			margin: 5px 10px;
		}
	}
}
