#header {
  position: relative;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 130vh;
  width: 100vw;
}

#header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
  z-index: 10;
  height: 100%;
}

#header .header__container .header__logo img {
  width: 40%;
}

#header .header__container .big__header {
  margin: 20px 0;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  line-height: 1.5;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#header .main__p {
  margin: 0 auto 32px auto;
  width: 60%;
}

#header .btn {
  background-color: #aa57ff;
  border: 3px solid #aa57ff;
  border-radius: 2.5rem;
  padding: 10px 45px;
  color: #fff;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  font-size: 22px;
  line-height: 2;
  font-weight: 600;
}

#header .btn:hover {
  border-color: #fff;
}

@media (max-width: 1050px) {
  #header .btn {
    font-size: 20px;
  }
}

@media (max-width: 750px) {
  #header .btn {
    font-size: 16px;
  }
}

#header .images__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

#header .images__wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  /* ================	 BUBBLE WIDTHS	 =================     */
}

#header .images__wrapper img.bubble {
  border-radius: 50%;
  position: absolute;
  background-position: 50% 50%;
  background-size: cover;
  z-index: -1;
  -webkit-animation: popUp 0.5s ease forwards;
          animation: popUp 0.5s ease forwards;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  visibility: hidden;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

@-webkit-keyframes popUp {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    visibility: visible;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes popUp {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    visibility: visible;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#header .images__wrapper img.sz-50 {
  width: 50px;
  height: 50px;
}

#header .images__wrapper img.sz-70 {
  width: 70px;
  height: 70px;
}

#header .images__wrapper img.sz-70 {
  width: 70px;
  height: 70px;
}

#header .images__wrapper img.sz-80 {
  width: 80px;
  height: 80px;
}

#header .images__wrapper img.sz-100 {
  width: 100px;
  height: 100px;
}

#header .images__wrapper img.sz-110 {
  width: 110px;
  height: 110px;
}

#header .images__wrapper img.sz-130 {
  width: 130px;
  height: 130px;
}

#header .images__wrapper img.sz-160 {
  width: 160px;
  height: 160px;
}

#header .images__wrapper img.sz-195 {
  width: 195px;
  height: 195px;
}

/* ================	 SIZE 50px BUBBLES	 =================     */
.sz-50 {
  -webkit-animation-delay: 3s !important;
          animation-delay: 3s !important;
}

.sz-50.sh-none {
  left: 38%;
  top: auto;
  right: auto;
  bottom: 4%;
}

.sz-50.sh-none-1 {
  left: 40%;
  top: auto;
  right: auto;
  bottom: 17%;
}

.sz-50.sh-none-2 {
  left: auto;
  top: auto;
  right: 40%;
  bottom: 19%;
}

/* ================	 SIZE 70px BUBBLES	 =================     */
.sz-70 {
  -webkit-animation-delay: 2.7s !important;
          animation-delay: 2.7s !important;
}

.sz-70.sh-yellow {
  left: -3%;
  top: 0%;
  right: auto;
  bottom: auto;
}

.sz-70.sh-none {
  left: 6%;
  top: 22%;
  right: auto;
  bottom: auto;
  -webkit-animation-delay: 2.8s !important;
          animation-delay: 2.8s !important;
}

.sz-70.sh-green {
  left: 7%;
  top: auto;
  right: auto;
  bottom: 27%;
}

.sz-70.sh-pink {
  left: auto;
  top: auto;
  right: 37%;
  bottom: 3%;
}

.sz-70.sh-purple {
  left: auto;
  top: auto;
  right: 7%;
  bottom: 27%;
}

.sz-70.sh-blue {
  left: auto;
  top: 20%;
  right: 7%;
  bottom: auto;
}

/* ================	 SIZE 80px BUBBLES	 =================     */
.sz-80 {
  -webkit-animation-delay: 2.5s !important;
          animation-delay: 2.5s !important;
}

.sz-80.sh-none {
  left: 2%;
  top: auto;
  right: auto;
  bottom: 34%;
}

.sz-80.sh-orange {
  left: auto;
  top: auto;
  right: 2%;
  bottom: 38%;
}

/* ================	 SIZE 100px BUBBLES	 =================     */
.sz-100.sh-cyan {
  left: 5%;
  top: 8%;
  right: auto;
  bottom: auto;
  -webkit-animation-delay: 2.3s !important;
          animation-delay: 2.3s !important;
}

.sz-100.sh-none {
  left: auto;
  top: 6%;
  right: 6%;
  bottom: auto;
  -webkit-animation-delay: 3.1s !important;
          animation-delay: 3.1s !important;
}

.sz-100.sh-green {
  left: auto;
  top: -3%;
  right: -3%;
  bottom: auto;
  -webkit-animation-delay: 2.3s !important;
          animation-delay: 2.3s !important;
}

/* ================	 SIZE 110px BUBBLES	 =================     */
.sz-110 {
  -webkit-animation-delay: 2.1s !important;
          animation-delay: 2.1s !important;
}

.sz-110.sh-red {
  left: 9%;
  top: auto;
  right: auto;
  bottom: 38%;
}

.sz-110.sh-green {
  left: auto;
  top: auto;
  right: 10%;
  bottom: 40%;
}

/* ================	 SIZE 130px BUBBLES	 =================     */
.sz-130 {
  -webkit-animation-delay: 1.9s !important;
          animation-delay: 1.9s !important;
}

.sz-130.sh-green {
  left: -6%;
  top: 13%;
  right: auto;
  bottom: auto;
}

.sz-130.sh-purple {
  left: 11%;
  top: auto;
  right: auto;
  bottom: 15%;
}

.sz-130.sh-cyan {
  left: auto;
  top: auto;
  right: 13%;
  bottom: 15%;
}

.sz-130.sh-yellow {
  left: 0px;
  top: auto;
  right: 0px;
  bottom: -5%;
  margin: 0 auto;
  -webkit-animation-delay: 1.3s !important;
          animation-delay: 1.3s !important;
}

.sz-130.sh-orange {
  left: auto;
  top: 10%;
  right: -6%;
  bottom: auto;
}

/* ================	 SIZE 16px BUBBLES	 =================     */
.bubble.sz-160.sh-pink {
  top: auto;
  right: auto;
  left: 21%;
  bottom: 2%;
  -webkit-animation-delay: 1s !important;
          animation-delay: 1s !important;
}

.bubble.sz-160.sh-green {
  left: auto;
  top: auto;
  right: 23%;
  bottom: 2%;
  -webkit-animation-delay: 0.9s !important;
          animation-delay: 0.9s !important;
}

/* ================	 SIZE 195px BUBBLES	 =================     */
.sz-195 {
  -webkit-animation-delay: 0.7s !important;
          animation-delay: 0.7s !important;
}

.sz-195.sh-yellow {
  left: -6%;
  bottom: 45%;
}

.sz-195.sh-purple {
  left: auto;
  top: auto;
  right: -6%;
  bottom: 47%;
}

/* ================	 BUBBLE SHADOWS	 =================     */
.sh-yellow {
  -webkit-box-shadow: 1px 1px 80px 6px #e5e301;
          box-shadow: 1px 1px 80px 6px #e5e301;
}

.sh-pink {
  -webkit-box-shadow: 1px 1px 100px 6px #ff249c;
          box-shadow: 1px 1px 100px 6px #ff249c;
}

.sh-green {
  -webkit-box-shadow: 1px 1px 100px 0 #59ff82;
          box-shadow: 1px 1px 100px 0 #59ff82;
}

.sh-blue {
  -webkit-box-shadow: 1px 1px 80px 6px rgba(0, 187, 255, 0.7);
          box-shadow: 1px 1px 80px 6px rgba(0, 187, 255, 0.7);
}

.sh-cyan {
  -webkit-box-shadow: 1px 1px 60px 0 #0df;
          box-shadow: 1px 1px 60px 0 #0df;
}

.sh-purple {
  -webkit-box-shadow: 1px 1px 100px 6px rgba(126, 0, 255, 0.66);
          box-shadow: 1px 1px 100px 6px rgba(126, 0, 255, 0.66);
}

.sh-orange {
  -webkit-box-shadow: 1px 1px 100px 10px #fd8300;
          box-shadow: 1px 1px 100px 10px #fd8300;
}

.sh-red {
  -webkit-box-shadow: 1px 1px 100px 6px red;
          box-shadow: 1px 1px 100px 6px red;
}

@media (max-width: 1000px) {
  .bubble.sz-160.sh-pink, .bubble.sz-160.sh-green {
    display: none;
  }
  .sz-130.sh-yellow {
    left: 0px;
    top: auto;
    right: 0px;
    bottom: 10%;
  }
  .sz-50 {
    -webkit-animation-delay: 3s !important;
            animation-delay: 3s !important;
  }
  .sz-50.sh-none {
    left: 30%;
    top: auto;
    right: auto;
    bottom: 27%;
  }
  .sz-50.sh-none-1 {
    left: auto;
    top: auto;
    right: 30%;
    bottom: 29%;
  }
  .sz-50.sh-none-2 {
    left: 35%;
    top: auto;
    right: auto;
    bottom: 14%;
  }
  .sz-70.sh-pink {
    right: 30%;
    bottom: 14%;
  }
}

@media (max-width: 750px) {
  .bubble {
    -webkit-transform: scale(0.7) !important;
            transform: scale(0.7) !important;
  }
  .bubble.sz-195 {
    display: none;
  }
  #header {
    height: 100vh;
  }
  .sz-50 {
    -webkit-animation-delay: 3s !important;
            animation-delay: 3s !important;
  }
  .sz-50.sh-none {
    left: 35%;
    top: 68%;
    right: auto;
    bottom: auto;
  }
  .sz-50.sh-none-1 {
    left: 47%;
    top: 75%;
    right: auto;
    bottom: auto;
  }
  .sz-50.sh-none-2 {
    left: 35%;
    top: auto;
    right: auto;
    bottom: 14%;
  }
  .sz-70.sh-green {
    left: 17%;
    top: 52%;
    right: auto;
    bottom: auto;
  }
  .sz-70.sh-yellow {
    left: auto;
    top: 50%;
    right: 23%;
    bottom: auto;
  }
  .sz-70.sh-blue {
    left: auto;
    top: 60%;
    right: 15%;
    bottom: auto;
  }
  .sz-70.sh-none {
    left: 18%;
    top: 80%;
    right: auto;
    bottom: auto;
  }
  .sz-100.sh-cyan {
    left: 16%;
    top: 68%;
    right: auto;
    bottom: auto;
  }
  .sz-100.sh-green {
    left: auto;
    top: 75%;
    right: -7%;
    bottom: auto;
  }
  .sz-100.sh-none {
    display: none;
  }
  .sz-110.sh-red {
    left: 0%;
    top: 55%;
    right: auto;
    bottom: auto;
  }
  .sz-110.sh-green {
    left: auto;
    top: 61%;
    right: 32%;
    bottom: auto;
  }
  .sz-130.sh-green {
    left: 0%;
    top: 25%;
    right: auto;
    bottom: auto;
  }
  .sz-130.sh-orange {
    left: auto;
    top: 28%;
    right: 0%;
    bottom: auto;
  }
  .sz-130.sh-purple {
    left: -5%;
    top: 71%;
    right: auto;
    bottom: auto;
  }
  .sz-130.sh-yellow {
    display: none;
  }
  .sz-130.sh-cyan {
    left: auto;
    top: 71%;
    right: 12%;
    bottom: auto;
  }
}

@media (max-width: 470px) {
  .bubble {
    -webkit-transform: scale(0.7) !important;
            transform: scale(0.7) !important;
  }
  .bubble.sz-195 {
    display: none;
  }
  #header {
    height: 120vh;
  }
  .images__wrapper {
    margin-top: 20px;
  }
  .sz-50 {
    -webkit-animation-delay: 3s !important;
            animation-delay: 3s !important;
  }
  .sz-50.sh-none {
    left: 35%;
    top: 68%;
    right: auto;
    bottom: auto;
  }
  .sz-50.sh-none-1 {
    display: none;
  }
  .sz-50.sh-none-2 {
    left: 35%;
    top: auto;
    right: auto;
    bottom: 14%;
  }
  .sz-70.sh-green {
    left: 17%;
    top: 52%;
    right: auto;
    bottom: auto;
  }
  .sz-70.sh-yellow {
    left: auto;
    top: 50%;
    right: 23%;
    bottom: auto;
  }
  .sz-70.sh-blue {
    left: auto;
    top: 60%;
    right: 15%;
    bottom: auto;
  }
  .sz-70.sh-none {
    display: none;
  }
  .sz-70.sh-pink {
    display: none;
  }
  .sz-100.sh-cyan {
    left: 16%;
    top: 68%;
    right: auto;
    bottom: auto;
  }
  .sz-100.sh-green {
    left: auto;
    top: 75%;
    right: -7%;
    bottom: auto;
  }
  .sz-100.sh-none {
    display: none;
  }
  .sz-110.sh-red {
    left: 0%;
    top: 55%;
    right: auto;
    bottom: auto;
  }
  .sz-110.sh-green {
    left: auto;
    top: 61%;
    right: 32%;
    bottom: auto;
  }
  .sz-130.sh-green {
    left: 0%;
    top: 25%;
    right: auto;
    bottom: auto;
  }
  .sz-130.sh-orange {
    left: auto;
    top: 28%;
    right: 0%;
    bottom: auto;
  }
  .sz-130.sh-purple {
    left: -5%;
    top: 71%;
    right: auto;
    bottom: auto;
  }
  .sz-130.sh-yellow {
    display: none;
  }
  .sz-130.sh-cyan {
    left: auto;
    top: 71%;
    right: 12%;
    bottom: auto;
  }
}
/*# sourceMappingURL=header.css.map */