@import '../vars/vars';
@import '../vars/btn';
@import '../vars/flexCenter';

#header {
	position: relative;
	top: 50%;
	@include flexCenter(column, center);
	text-align: center;
	height: 130vh;
	width: 100vw;
	// overflow-y: hidden;

	// padding: 600px 0;

	.header__container {
		@include flexCenter(column, center);
		margin-bottom: 200px;
		z-index: 10;
		height: 100%;

		.header__logo {
			img {
				// width: 150px;
				width: 40%;
			}
		}
		.big__header {
			margin: 20px 0;
			background: linear-gradient(
				45deg,
				#f09433 0%,
				#e6683c 25%,
				#dc2743 50%,
				#cc2366 75%,
				#bc1888 100%
			);
			line-height: 1.5;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	.main__p {
		margin: 0 auto 32px auto;
		width: 60%;
	}
	.btn {
		@include btn($color-purple, $color-purple, $color-white);
	}

	// BUBBLE WRAPPER
	.images__wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100%;
		// overflow-x: hidden;
		// overflow-y: visible;
		// BUBBLE IMG
		img {
			object-fit: cover;
			// PRIMARY BUBBLE CLASS
			&.bubble {
				border-radius: 50%;
				position: absolute;
				background-position: 50% 50%;
				background-size: cover;
				z-index: -1;
				animation: popUp 0.5s ease forwards;
				animation-delay: 6s;
				visibility: hidden;
				transition: $transition;
			}
			@keyframes popUp {
				from {
					transform: scale(0);
				}
				to {
					visibility: visible;
					transform: scale(1);
				}
			}
			/* ================	 BUBBLE WIDTHS	 =================     */
			&.sz-50 {
				width: 50px;
				height: 50px;
			}
			&.sz-70 {
				width: 70px;
				height: 70px;
			}
			&.sz-70 {
				width: 70px;
				height: 70px;
			}
			&.sz-80 {
				width: 80px;
				height: 80px;
			}
			&.sz-100 {
				width: 100px;
				height: 100px;
			}
			&.sz-110 {
				width: 110px;
				height: 110px;
			}
			&.sz-130 {
				width: 130px;
				height: 130px;
			}
			&.sz-160 {
				width: 160px;
				height: 160px;
			}
			&.sz-195 {
				width: 195px;
				height: 195px;
			}
		}
	}
}

/* ================	 SIZE 50px BUBBLES	 =================     */
.sz-50 {
	// ALL SAME TIME POPPED
	animation-delay: 3s !important;
	&.sh-none {
		left: 38%;
		top: auto;
		right: auto;
		bottom: 4%;
	}

	&.sh-none-1 {
		left: 40%;
		top: auto;
		right: auto;
		bottom: 17%;
	}
	&.sh-none-2 {
		left: auto;
		top: auto;
		right: 40%;
		bottom: 19%;
	}
}

/* ================	 SIZE 70px BUBBLES	 =================     */
.sz-70 {
	// ALL SAME TIME POPPED EXCEPT sh-none
	animation-delay: 2.7s !important;
	&.sh-yellow {
		left: -3%;
		top: 0%;
		right: auto;
		bottom: auto;
	}
	&.sh-none {
		left: 6%;
		top: 22%;
		right: auto;
		bottom: auto;
		animation-delay: 2.8s !important;
	}
	&.sh-green {
		left: 7%;
		top: auto;
		right: auto;
		bottom: 27%;
	}
	&.sh-pink {
		left: auto;
		top: auto;
		right: 37%;
		bottom: 3%;
	}
	&.sh-purple {
		left: auto;
		top: auto;
		right: 7%;
		bottom: 27%;
	}
	&.sh-blue {
		left: auto;
		top: 20%;
		right: 7%;
		bottom: auto;
	}
}

/* ================	 SIZE 80px BUBBLES	 =================     */
.sz-80 {
	// ALL SAME TIME POPPED EXCEPT
	animation-delay: 2.5s !important;
	&.sh-none {
		left: 2%;
		top: auto;
		right: auto;
		bottom: 34%;
	}
	&.sh-orange {
		left: auto;
		top: auto;
		right: 2%;
		bottom: 38%;
	}
}

/* ================	 SIZE 100px BUBBLES	 =================     */
.sz-100 {
	// ALL SAME TIME POPPED EXCEPT sh-none
	&.sh-cyan {
		left: 5%;
		top: 8%;
		right: auto;
		bottom: auto;
		animation-delay: 2.3s !important;
	}
	&.sh-none {
		left: auto;
		top: 6%;
		right: 6%;
		bottom: auto;
		animation-delay: 3.1s !important;
	}
	&.sh-green {
		left: auto;
		top: -3%;
		right: -3%;
		bottom: auto;
		animation-delay: 2.3s !important;
	}
}

/* ================	 SIZE 110px BUBBLES	 =================     */
.sz-110 {
	// ALL SAME TIME POPPED EXCEPT
	animation-delay: 2.1s !important;
	&.sh-red {
		left: 9%;
		top: auto;
		right: auto;
		bottom: 38%;
	}

	&.sh-green {
		left: auto;
		top: auto;
		right: 10%;
		bottom: 40%;
	}
}

/* ================	 SIZE 130px BUBBLES	 =================     */
.sz-130 {
	// ALL SAME TIME POPPED EXCEPT sh-yellow
	animation-delay: 1.9s !important;
	&.sh-green {
		left: -6%;
		top: 13%;
		right: auto;
		bottom: auto;
	}
	&.sh-purple {
		left: 11%;
		top: auto;
		right: auto;
		bottom: 15%;
	}
	&.sh-cyan {
		left: auto;
		top: auto;
		right: 13%;
		bottom: 15%;
	}
	&.sh-yellow {
		left: 0px;
		top: auto;
		right: 0px;
		bottom: -5%;
		margin: 0 auto;
		animation-delay: 1.3s !important;
	}
	&.sh-orange {
		left: auto;
		top: 10%;
		right: -6%;
		bottom: auto;
	}
}

/* ================	 SIZE 16px BUBBLES	 =================     */
.bubble.sz-160 {
	&.sh-pink {
		top: auto;
		right: auto;
		left: 21%;
		bottom: 2%;
		animation-delay: 1s !important;
	}
	&.sh-green {
		left: auto;
		top: auto;
		right: 23%;
		bottom: 2%;
		animation-delay: 0.9s !important;
	}
}

/* ================	 SIZE 195px BUBBLES	 =================     */
.sz-195 {
	animation-delay: 0.7s !important;
	&.sh-yellow {
		left: -6%;
		bottom: 45%;
	}
	&.sh-purple {
		left: auto;
		top: auto;
		right: -6%;
		bottom: 47%;
	}
}

/* ================	 BUBBLE SHADOWS	 =================     */
.sh-yellow {
	box-shadow: 1px 1px 80px 6px #e5e301;
}
.sh-pink {
	box-shadow: 1px 1px 100px 6px #ff249c;
}
.sh-green {
	box-shadow: 1px 1px 100px 0 #59ff82;
}

.sh-blue {
	box-shadow: 1px 1px 80px 6px rgba(0, 187, 255, 0.7);
}
.sh-cyan {
	box-shadow: 1px 1px 60px 0 #0df;
}
.sh-purple {
	box-shadow: 1px 1px 100px 6px rgba(126, 0, 255, 0.66);
}
.sh-orange {
	box-shadow: 1px 1px 100px 10px #fd8300;
}
.sh-red {
	box-shadow: 1px 1px 100px 6px red;
}

@media (max-width: 1000px) {
	.bubble.sz-160 {
		&.sh-pink,
		&.sh-green {
			display: none;
		}
	}
	.sz-130 {
		&.sh-yellow {
			left: 0px;
			top: auto;
			right: 0px;
			bottom: 10%;
		}
	}
	.sz-50 {
		// ALL SAME TIME POPPED
		animation-delay: 3s !important;
		&.sh-none {
			left: 30%;
			top: auto;
			right: auto;
			bottom: 27%;
		}

		&.sh-none-1 {
			left: auto;
			top: auto;
			right: 30%;
			bottom: 29%;
		}
		&.sh-none-2 {
			left: 35%;
			top: auto;
			right: auto;
			bottom: 14%;
		}
	}
	.sz-70 {
		&.sh-pink {
			right: 30%;
			bottom: 14%;
		}
	}
}
@media (max-width: 750px) {
	.bubble {
		transform: scale(0.7) !important;
		&.sz-195 {
			display: none;
		}
	}
	#header {
		height: 100vh;
	}
	.sz-50 {
		// ALL SAME TIME POPPED
		animation-delay: 3s !important;
		&.sh-none {
			left: 35%;
			top: 68%;
			right: auto;
			bottom: auto;
		}

		&.sh-none-1 {
			left: 47%;
			top: 75%;
			right: auto;
			bottom: auto;
		}
		&.sh-none-2 {
			left: 35%;
			top: auto;
			right: auto;
			bottom: 14%;
		}
	}
	.sz-70 {
		&.sh-green {
			left: 17%;
			top: 52%;
			right: auto;
			bottom: auto;
		}
		&.sh-yellow {
			left: auto;
			top: 50%;
			right: 23%;
			bottom: auto;
		}
		&.sh-blue {
			left: auto;
			top: 60%;
			right: 15%;
			bottom: auto;
		}
		&.sh-none {
			left: 18%;
			top: 80%;
			right: auto;
			bottom: auto;
		}
	}
	.sz-100 {
		&.sh-cyan {
			left: 16%;
			top: 68%;
			right: auto;
			bottom: auto;
		}
		&.sh-green {
			left: auto;
			top: 75%;
			right: -7%;
			bottom: auto;
		}
		&.sh-none {
			display: none;
		}
	}
	.sz-110 {
		&.sh-red {
			left: 0%;
			top: 55%;
			right: auto;
			bottom: auto;
		}
		&.sh-green {
			left: auto;
			top: 61%;
			right: 32%;
			bottom: auto;
		}
	}
	.sz-130 {
		&.sh-green {
			left: 0%;
			top: 25%;
			right: auto;
			bottom: auto;
		}
		&.sh-orange {
			left: auto;
			top: 28%;
			right: 0%;
			bottom: auto;
		}
		&.sh-purple {
			left: -5%;
			top: 71%;
			right: auto;
			bottom: auto;
		}
		&.sh-yellow {
			display: none;
		}
		&.sh-cyan {
			left: auto;
			top: 71%;
			right: 12%;
			bottom: auto;
		}
	}
}
@media (max-width: 470px) {
	.bubble {
		transform: scale(0.7) !important;
		&.sz-195 {
			display: none;
		}
	}
	#header {
		height: 120vh;
	}
	.images__wrapper {
		margin-top: 20px;
	}
	.sz-50 {
		// ALL SAME TIME POPPED
		animation-delay: 3s !important;
		&.sh-none {
			left: 35%;
			top: 68%;
			right: auto;
			bottom: auto;
		}

		&.sh-none-1 {
			display: none;
		}
		&.sh-none-2 {
			left: 35%;
			top: auto;
			right: auto;
			bottom: 14%;
		}
	}
	.sz-70 {
		&.sh-green {
			left: 17%;
			top: 52%;
			right: auto;
			bottom: auto;
		}
		&.sh-yellow {
			left: auto;
			top: 50%;
			right: 23%;
			bottom: auto;
		}
		&.sh-blue {
			left: auto;
			top: 60%;
			right: 15%;
			bottom: auto;
		}
		&.sh-none {
			display: none;
		}
		&.sh-pink {
			display: none;
		}
	}
	.sz-100 {
		&.sh-cyan {
			left: 16%;
			top: 68%;
			right: auto;
			bottom: auto;
		}
		&.sh-green {
			left: auto;
			top: 75%;
			right: -7%;
			bottom: auto;
		}
		&.sh-none {
			display: none;
		}
	}
	.sz-110 {
		&.sh-red {
			left: 0%;
			top: 55%;
			right: auto;
			bottom: auto;
		}
		&.sh-green {
			left: auto;
			top: 61%;
			right: 32%;
			bottom: auto;
		}
	}
	.sz-130 {
		&.sh-green {
			left: 0%;
			top: 25%;
			right: auto;
			bottom: auto;
		}
		&.sh-orange {
			left: auto;
			top: 28%;
			right: 0%;
			bottom: auto;
		}
		&.sh-purple {
			left: -5%;
			top: 71%;
			right: auto;
			bottom: auto;
		}
		&.sh-yellow {
			display: none;
		}
		&.sh-cyan {
			left: auto;
			top: 71%;
			right: 12%;
			bottom: auto;
		}
	}
}
