@import '../vars/vars';
@import '../vars/flexCenter';

footer {
	position: relative;
	width: 100%;
	.container {
		position: absolute;
		padding: 20px;
		left: 50%;
		bottom: 0;
		transform: translate(-50%, 0);
		width: 100%;
		margin: auto;
		@include flexCenter(row, space-between);
		.footer__logo {
			img {
				height: 50px;
			}
		}
		.footer__lists {
			ul {
				@include flexCenter(row, center);
				gap: 40px;
				a {
					color: $color-text-purple;
					font-size: 17px;
					font-weight: 400;
					transition: $transition;
					&:hover {
						color: $color-white;
					}
				}
			}
		}
		.footer__icons {
			ul {
				display: flex;
				gap: 20px;

				.icon {
					font-size: 35px;
					transition: $transition;
					color: $color-white;
					&:hover {
						color: $color-green;
					}
				}
			}
		}
	}
}
@media (max-width: 1050px) {
	#footer {
		.container {
			padding: 20px 50px !important;
		}
	}
}

@media (max-width: 750px) {
	#footer {
		height: 250px;
		.container {
			flex-direction: column;
			.footer__logo {
				padding: 20px 0;
			}
			.footer__lists {
				ul {
					@include flexCenter(column, center);
					gap: 20px;
					a {
						color: $color-text-purple;
						font-size: 17px;
						font-weight: 400;
						transition: $transition;
						&:hover {
							color: $color-white;
						}
					}
				}
			}
			.footer__icons {
				padding: 40px 0;
			}
		}
	}
}
