@import '../vars/vars';
@import '../vars/btn';
@import '../vars/flexCenter';
@import '../vars/grid';

#experience {
	padding: 100px 0;

	.container {
		.section__title {
			text-align: center;
			margin-bottom: 88px;
			.big__header {
				background-image: linear-gradient(140deg, #9030f2, #ff92d3);
				background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
		.cards {
			.horizontal__card {
				@include grid(2, 0px);
				height: 450px;
				.card__left {
					.card__img {
						object-fit: contain;
						width: 85%;
						margin-left: 4rem;
						&.mg {
							margin-top: 4.4rem;
						}
					}
					&.center {
						display: flex;
						align-items: center;
					}
				}

				.card__right {
					@include flexCenter(column, flex-end);
					height: 450px;
					align-items: flex-start;
					padding: 0 60px 60px 60px;
					.main__p {
						li {
							list-style: circle;
						}
						&.mg {
							margin-top: 15px;
						}
					}
				}
			}
			.vertical__card-div {
				@include grid(2, 40px);
				.vertical__card {
					@include flexCenter(column, flex-start);
					height: 600px;
					padding: 60px 65px 0px 65px;
					.card__top {
						.main__p {
							margin: 30px 0;
						}
					}
					.card__bottom {
						display: flex;
						justify-content: center;

						img {
							max-width: 100%;
						}
						&.mg {
							margin-top: 25px;
							img {
								max-width: 80%;
							}
						}
					}
				}
			}
		}
	}
}
.card {
	overflow: hidden;
	margin-bottom: 40px;
	border-radius: 2.22em;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(transparent),
		to(rgba(0, 0, 0, 0.4))
	);
	width: 100%;
	&.cyan__card {
		background-color: $color-cyan;
	}
	&.blossom__card {
		background-color: $color-blossom;
	}
	&.purple__card {
		background-color: $color-purple;
	}
	&.pink__card {
		background-color: $color-pink;
	}
	&.green__card {
		background-color: $color-light-green;
	}
}
.link {
	text-decoration: underline;
}
@media (max-width: 1150px) {
	.horizontal__card {
		max-height: 370px;
		.card__right {
			max-height: 370px;
			justify-content: center !important;
			padding: 0 30px 0px 60px !important;
			li {
				line-height: 23px;
			}
		}
	}
	.vertical__card-div {
		gap: 30px !important;
		.vertical__card {
			@include flexCenter(column, flex-start);
			max-height: 500px;
			padding: 35px 50px 0px 50px !important;
			.card__top {
				.main__p {
					margin: 30px 0;
				}
			}
		}
	}
	.card {
		margin-bottom: 30px;
	}
}
@media (max-width: 1050px) {
	// .horizontal__card {
	// 	max-height: 350px;
	// 	.card__right {
	// 		max-height: 350px;
	// 	}
	// }
}
@media (max-width: 900px) {
	.horizontal__card {
		max-height: 400px;
		.card__right {
			max-height: 400px;
		}
		.card__left .card__img {
			width: 95% !important;
			margin-left: 2rem !important;
		}
	}
	.vertical__card-div {
		.vertical__card {
			padding: 30px 35px 0px 35px !important;
			.card__top {
				.main__p {
					margin: 10px 0 !important;
				}
			}
		}
	}
}
@media (max-width: 750px) {
	.horizontal__card {
		display: flex !important;
		flex-direction: column !important;
		&.blossom__card,
		&.green__card {
			flex-direction: row !important;
			.card__left {
				flex: 35% !important;
				.card__img {
					max-width: 90%;
				}
			}
		}
		.card__right {
			flex: 65% !important;
		}
		.card__left {
			display: flex;
			justify-content: center;
			flex: 35% !important;
			.card__img {
				max-width: 45%;
			}
		}
	}
	.vertical__card-div {
		grid-template-columns: repeat(1, 1fr) !important;
		.vertical__card {
			max-height: 400px;
			.card__bottom {
				img {
					max-width: 50% !important;
				}
			}
		}
	}
}
@media (max-width: 600px) {
	.horizontal__card {
		display: flex !important;
		flex-direction: column !important;
		// padding: 50px 0;
		&.blossom__card,
		&.green__card {
			flex-direction: row !important;
			.card__left {
				flex: 25% !important;
				.card__img {
					max-width: 100%;
				}
			}
		}
		.card__right {
			flex: 75% !important;
		}
		.card__left {
			display: flex;
			justify-content: center;
			flex: 30% !important;
			.card__img {
				max-width: 60%;
			}
		}
	}
}
@media (max-width: 540px) {
	.horizontal__card {
		display: flex !important;
		flex-direction: column !important;
		max-height: 500px;
		height: 500px;
		&.blossom__card {
			max-height: 600px !important;
			height: 600px !important;
		}
		&.blossom__card,
		&.green__card {
			flex-direction: column !important;
			.card__left {
				flex: 25% !important;
				.card__img {
					max-width: 40% !important;
					max-height: 100%;
					object-fit: contain;

					margin-top: 2rem !important;
				}
			}
		}
	}
}
