.content {
	padding-top: 240px;
	padding-bottom: 110px;
	max-width: 50%;
	.main__p {
		font-size: 20px;
		margin: 50px 0 40px 0;
	}
}
@media (max-width: 1150px) {
	.content {
		max-width: 65%;
	}
}
@media (max-width: 1050px) {
	.content {
		max-width: 60%;
	}
}
@media (max-width: 900px) {
	.content {
		max-width: 80%;
		padding-top: 180px;
		padding-bottom: 110px;
	}
}
@media (max-width: 600px) {
	.content {
		max-width: 90%;
	}
}
