$color-purple: #aa57ff;
$color-text-purple: #c185ff;
$color-white: #fff;
$color-light-white: #fbf8f8;
$color-blue: #04d4f9;
$color-blossom: #ff249c;
$color-pink: #750080;
$color-green: #0be014;
$color-light-green: #96d321;
$color-yellow: #e5e301;
$color-orange: #fa880c;
$color-cyan: #04d4f9;

// ========== Containers ==============
$container-width-lg: 1196px;

// ============ Transition ============
$transition: 300ms ease;
