@import '../vars/vars';
@import '../vars/flexCenter';

#nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: $transition;
	z-index: 999;
	// padding: 10px 0;
	.container {
		// width: 100%;
		z-index: 999;
		@include flexCenter(row, space-between);
		padding: 20px 0 10px 0;
		.nav__logo {
			img {
				width: 50px;
				height: 50px;
				object-fit: cover;
			}
		}
		.nav__lists {
			display: flex;
			.lists {
				@include flexCenter(row, center);
				gap: 40px;
				a {
					color: $color-text-purple;
					font-size: 17px;
					font-weight: 400;
					transition: $transition;
					&:hover {
						color: $color-white;
					}
				}
				.small__btn {
					color: $color-white;
				}
			}
			.menu {
				cursor: pointer;
				visibility: hidden;
				.menuIcon {
					font-size: 35px;
					color: $color-white;
				}
			}
		}
	}
	#hidden {
		max-width: 60vw;
		height: 100vh;
		background-color: black;
		border: 1px solid gray;
		position: fixed;
		right: 0px;

		.hidden__lists {
			li {
				padding: 0 30px;

				line-height: 80px;
			}
		}
	}
}

.bg {
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 999;
}

@media (max-width: 750px) {
	#nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
	#nav .container .nav__lists {
		.lists {
			display: none;
			// flex-direction: column;
			// transform: translateY(100%);
		}
		.menu {
			visibility: visible;
		}
	}
	// #hidden {
	// 	transform: translateX(0);
	// }
}
