@import '../vars/vars';
@import '../vars/flexCenter';

#banner {
	height: 100vh;
	background-image: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		),
		url(../../assets/circleRgb.svg);
	background-position: center;
	background-size: auto, contain;
	background-repeat: no-repeat;
	@include flexCenter(column, center);
	// .banner__bg {
	// 	width: 100%;
	// 	object-fit: cover;
	// 	img {
	// 		object-fit: cover;
	// 	}
	// }
	.container {
		text-align: center;
		.banner__content {
			.medium__header {
				color: $color-cyan;
				.orange__p {
					color: $color-orange;
				}
				.yellow__p {
					color: $color-yellow;
				}
				.blossom__p {
					color: $color-blossom;
				}
			}
		}
	}
}

@media (max-width: 900px) {
	#banner {
		height: 80vh;
	}
}
